@import "../../config.scss/mixins.scss";
.more_products_container{
    padding: 100px 10px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(110deg, #333432, #202020);

    @include md{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
}